body {
    font-family: 'Montserrat';
}


.container {
    width: 1366px;
    margin: 0 auto;
}

header {
    height: 119px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 29px;
}
.logo {
    width: 185px;
    height: 22px;
    margin-left: 98px;
    padding-top: 63px;
    float: left;
    display: inline-block;
}

.menu a li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 67px;
}

.menu a li:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid black;
}

.menu {
    text-decoration: none;
    text-align: right;
    width: 490px;
    height: 10px;
    flex: auto;
    margin-left: 650px;
}

.search {
    float: right;
    display: inline-block;
    margin-top: 57px;
    margin-right: 160px;
    padding-left: 5px;
}

.featured {
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 61px;
    margin-top: 5px;
    letter-spacing: 2px;
    text-align: center;
    margin-right: 30px;
}

.featured-product {
    display: inline-block;
    float: left;
    background-color:  #f4f4f4;
    height: 70px;
    width: 1366px;
    padding-left: 360px;
}

.featured:hover {
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.hot-deal {
  display: inline-block;
    float: left;
    position: relative;
}
.text {
    display: inline-block;
    float: right;
}
.text h1 {
    display: inline-block;
    top: 47px;
    left: 768px;
    width: 236px;
    float: right;
    position: absolute;
}
.text h2 {
    position: absolute;
    color:  #e53935;
    width: 250px;
    top: 98px;
    left: 834px;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    transform: scaleY(1.0005);
}

.money {
    position: absolute;
    text-decoration: none;
    top: 130px;
    left: 750px;
    width: 330px;
    color:  #212121;
    font-size: 72px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
}
.promo {
    display: block;
    text-decoration: none;
    position: absolute;
    color:  #ffffff;
    font-size: 21.99px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 3px;
    text-align: center;
    transform: scaleY(1.0005);
    left: 653px;
    top: 285px;
    background-color:  #f44336;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 510px;
    height: 71px;
    border-radius: 56px;
    
}
.promo:hover {
     background: #f44336 url(../img/arrow2.png) no-repeat 348px 23px;
    background-size: 15px;
}
.description {
    color:  #212121;
    position: absolute;
    top: 355px;
    left: 653px;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-align: left;
    transform: scaleY(1.0005);
    width: 499px;
    letter-spacing: 1px;
    width: 510px;
    text-align: justify;
}
.control {
    margin-left: 145px;
    margin-top: 11px;
}
.control img {
    margin-right: 10px;
}
.related-products {
    position: relative;
    margin-left: 98px;
}
.related-products p {
    position: absolute;
    display: inline-block;
    float: left;
    top: 900px;
    left: 1px;
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left; 
    line-height: 48px;
}
.featured2 {
    display: inline-block;
    position: absolute;
    text-align: right;
    text-decoration: none;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    right: 100px;
    top: 960px;
    background: #ffffff;
    width: 195px;
}
.featured2:hover{
    background: url(../img/arrow.png) no-repeat 185px;
}

.featured-images {
    position: absolute;
    display: inline-block;
    float: left;
    left: 1px;
    top: 1115px;
    text-decoration: none;
}
.pr {
margin-right: 30px;
}

footer {
    position: relative;
    background-color:  #f7f7f7;
    height: 384px;
    margin-top: 1650px;
}
footer table p {
    color:  #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    list-style-type: none;
    text-decoration: none;
}
footer table a {
    list-style-type: none;
    text-decoration: none;
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    vertical-align: text-top;
}

footer table input {
    height: 48px;
    width: 370px;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    padding-left: 19px;
    list-style-type: none;
    text-decoration: none;
}
table {
    position: absolute;
    width: 1162px;
    border: none;
    list-style-type: none;
    text-decoration: none;
    top: 90px;
    left: 99px;
    
}
footer table h2 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    list-style-type: none;
    text-decoration: none;
}

tr,td {
    list-style-type: none;
    text-decoration: none;
}

td {
    text-align: left;
    line-height: 25px;
    vertical-align: baseline;
    width: 320px;
}

.copyright {
    padding-top: 315px;
    padding-left: 98px;
    color:  #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
}
.social {
    color:  #6c6c6c;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    margin-left: 115px;
    padding-top: 315px;
    vertical-align: middle;
}
.policy {
    color:  #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    display: inline-block;
    letter-spacing: 1px;
    margin-left: 130px;
    vertical-align: middle;
    padding-top: 315px;
}
.send {
    position: absolute;
    left: 1110px;
    top: 180px;
}
.refresh {
    margin-left: 590px;
    margin-top: 71px;
}