body {
    font-family: 'Montserrat';
}


.container {
    width: 1366px;
    margin: 0 auto;
}

header {
    height: 360px;
    background-color: #f5f5f5;
    position: relative;
}
h1 {
    margin-top: 258px;
    margin-left: 101px;
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
}

.logo {
    width: 185px;
    height: 22px;
    margin-left: 98px;
    padding-top: 63px;
    float: left;
    display: inline-block;
}

.menu a li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 67px;
}

.menu a li:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid black;
}

.menu {
    text-decoration: none;
    text-align: right;
    width: 490px;
    height: 10px;
    flex: auto;
    margin-left: 650px;
}

.search {
    float: right;
    display: inline-block;
    margin-top: 57px;
    margin-right: 160px;
    padding-left: 5px;
}

.text {
    width: 458px;
    margin-top: 288px;
    margin-left: 98px;

}

.text h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    width: 109px;
    height: 13px;
    margin-bottom: 22px;
    letter-spacing: 1px;
}

.text h1 {
    color: #212121;
    font-size: 57px;
    font-weight: 100;
    line-height: 72px;
    font-family: 'Montserrat'thin;
    margin-bottom: 34px;
}

.text p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 32px;
}

.text a {
    display: block;
    background: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
}

.text a:hover {
    background: #ffffff url('../img/arrow.png') no-repeat 173px 16px;
}

.slider {
    width: 680px;
    margin-top: 141px;
    margin-left: 313px;
}

.slider input[name="switch"] {
    display: none;
}

.switch {
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch label {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    background-color: rgba(33, 33, 33, 0.2);
    vertical-align: middle;
    margin-bottom: 19px;
}

#btn1:checked ~ .switch label[for="btn1"] {
    background-color: black;
    width: 40px;
    height: 40px;
}

#btn2:checked ~ .switch label[for="btn2"] {
    background-color: black;
    width: 40px;
    height: 40px;
}

#btn3:checked ~ .switch label[for="btn3"] {
    background-color: black;
    width: 40px;
    height: 40px;
}
.featured {
    text-decoration: none;
    display: inline-block;
    float: left;
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #6c6c6c;
    margin-top: 71px;
    line-height: 51px;
    margin-left: 30px;
    letter-spacing: 2px;
}

.featured-product {
    margin-left: 105px;
}

.featured:hover {
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    border-bottom: 3px solid #212121;
}
table {
    border-collapse: collapse;
    text-decoration: underline;
    height: 67px;
    line-height: 67px;
}

td {
    width: 187px;
    height: 67px;
    line-height: 67px;
}
.featured2 {
    display: inline-block;
    float: right;
    text-align: right;
    text-decoration: none;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    margin-right: 118px;
    margin-top: 138px;
    background: #ffffff;
    border-color: #ffffff;
    border: none;
    width: 195px;
    

}
.featured2:hover{
    background: url(../img/arrow.png) no-repeat 185px;
}

.featured-images {
    position: relative;
    display: inline-block;
    margin-left: 98px;
    margin-right: 60px;
    margin-top: 50px;
    text-decoration: none;
}

.holder{
    position:relative;   
    width:268px;
    height:268px;
    background:#ffffff;
    display: inline-block;
    margin-right: 30px;
}
.holder1 {
    position:relative;   
    width:268px;
    height:268px;
    background:#ffffff;
    display: inline-block;
    margin-right: 30px;
}
.block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 0.7);
    display:none; 

}
.holder:hover .block {
    display: inline-block;
    text-decoration: none;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 268px;
    height: 268px;
    margin-right: 30px;
}

.holder1:hover .block {
    display: inline-block;
    text-decoration: none;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 268px;
    height: 268px;
}

button {
    border-radius: 50%;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    margin-right: 111px;
    margin-left: 111px;
    margin-top: 62px;
}
.fish {
    color:  #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    transform: scaleX(1.0041);
}
.seat{
    color:  #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    transform: scaleX(1.0041);
}
.promo-product1 {
    width: 680px;
    height: 680px;
    background-image: url(../img/promo-img1.jpg);
    display: inline-block;
    margin-top: 120px;
}
.promo-product2 {
    width: 680px;
    height: 680px;
    background-image: url(../img/promo-img.jpg);
    display: inline-block;
    margin-top: 120px;
}
.promo-product1 h2 {
    color:  #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: 228px;
    margin-left: 51px;
}
.promo-product2 h2 {
    color:  #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: 228px;
    margin-left: 51px;
}
.fish2 {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-top: 18px;
    margin-left: 52px;
}
.seat2 {
    color:  #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    transform: scaleY(1.0022);
    margin-top: 24px;
    margin-left: 50px;
}
.promo {
    display: block;
    background: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    margin-left: 50px;
    margin-top: 34px;
}
.promo:hover {
     background: #ffffff url(../img/arrow.png) no-repeat 173px 16px;
}
.trending-products h2 {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    display: inline-block;
    margin-top: 119px;
    margin-left: 98px;

}
.tr-products-images {
    margin-top:  64px;
    margin-right: 60px;
    margin-left: 98px;
    display: inline-block;
}
.pr {
    margin-left: 30px;
    display: inline-block;
    float: left;
}

.pro,.pr {
    display: inline-block;
    float: left;
    margin-bottom: 30px;
}
.hot-deals {
    background-image:url(../img/slider1.jpg);
    width: 1366px;
    height: 800px;
    margin-top: 90px;
}
.hot-deals h2 {
    color:  #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    width: 105px;
    margin-top: 287px;
    margin-left: 99px;
    display: inline-block;
}
.fish3 {
    color: #212121;
    font-size: 57px;
    font-weight: 100;
    line-height: 72px;
    font-family: 'Montserrat'thin;
    margin-top: 0px;
    margin-left: 106px;
}
.seat3 {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 468px;
    margin-left: 98px;
    margin-top: 14px;
}

.promo2 {
    display: block;
    background: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    margin-left: 98px;
    margin-top: 34px;
}

.promo2:hover {
     background: #ffffff url(../img/arrow.png) no-repeat 173px 16px;
}

.exclusive-product {
    background-image: url(../img/product-1-lg.jpg);
    width: 575px;
    height: 575px;
    margin-top: 120px;
    margin-left: 98px;
    display: inline-block;
    float: left;
}
.exclusive {
    position: relative;
}
.excl-images {
    position: absolute;
    width: 570px;
    height: 570px;
    display: inline-block;
    left: 698px;
    top: 120px;
}
.ex2,.ex4 {
    margin-left: 30px;
}

.ex1,.ex2 {
    margin-bottom: 30px;
}
.exclusive-product h2 {
    color:  #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: 160px;
    margin-left: 51px;
    letter-spacing: 2px;
}

.mobile-app {
    position: relative;
    height: 516px;
    background-image: url(../img/back-img.jpg);
    margin-top: 810px;
}

.mobile-app h2 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    padding-top: 125px;
    margin-left: 99px;
}

.find {
    position: absolute;
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-align: left;
    left: 106px;
    top: 110px;
}

.save {
    position: absolute;
    color:  #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    top: 305px;
    left: 99px;
}
.app {
    position: absolute;
    display: inline-block;
    top: 376px;
    left: 98px;
}

.google {
    position: absolute;
    display: inline-block;
    top: 376px;
    left: 243px;
}
footer {
    position: relative;
    background-color:  #f7f7f7;
    height: 384px;
}
footer table p {
    color:  #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    list-style-type: none;
    text-decoration: none;
}
footer table a {
    list-style-type: none;
    text-decoration: none;
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    vertical-align: text-top;
}

footer table input {
    height: 48px;
    width: 370px;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    padding-left: 19px;
    list-style-type: none;
    text-decoration: none;
}
table {
    position: absolute;
    width: 1162px;
    border: none;
    list-style-type: none;
    text-decoration: none;
    top: 90px;
    left: 99px;
    
}
footer table h2 {
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    list-style-type: none;
    text-decoration: none;
}

tr,td {
    list-style-type: none;
    text-decoration: none;
}

td {
    text-align: left;
    line-height: 25px;
    vertical-align: baseline;
    width: 320px;
}

.copyright {
    padding-top: 315px;
    padding-left: 98px;
    color:  #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
}
.social {
    color:  #6c6c6c;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    margin-left: 115px;
    padding-top: 315px;
    vertical-align: middle;
}
.policy {
    color:  #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    display: inline-block;
    letter-spacing: 1px;
    margin-left: 130px;
    vertical-align: middle;
    padding-top: 315px;
}
.send {
    position: absolute;
    left: 1110px;
    top: 155px;
}
.refresh {
    margin-left: 590px;
    margin-top: 71px;
}